Source: anttoolbar
Section: web
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: cdbs, mozilla-devscripts
Standards-Version: 3.9.8
Homepage: https://addons.mozilla.org/en-US/firefox/addon/video-downloader-player/

Package: anttoolbar
Architecture: all
Depends: ${misc:Depends}
Description: ant video downloader -- firefox plugin
 Download videos from YouTube, Dailymotion, etc via firefox
